body {
    background-color: #F1FAEE;

    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    line-height: 1.3em;

    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
}

* {
    transition-duration: 100ms;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

#about {
    background-color: #1D3557;
    color: #F1FAEE;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
}

.about-card h3 {
    font-weight: bolder;
}

.about-card {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    color: #1D3557;
    background-color: #F1FAEE;
    border-radius: 15px;
    border: 2px solid #457B9D;
    box-sizing: border-box;
    width: 25%;
}

.about-card:hover {
    background-color: #e1f0f2;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-card ul {
    font-weight: 500;
    text-align: left;
}

footer {
    background-color: #1D3557;
    display: flex;
    justify-content: center;
    color: #F1FAEE;
    align-items: center;
    height: 3em;
    font-size: 0.7em;
}

nav {
    background-color: #457B9D;
    color: #eee;
    width: 100%;
}

.material-icons {
    vertical-align: middle;
}

#navbar {
    align-items: center;
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 1em 2em 1em 2em;
}

#navbar li {
    margin-left: 2em;
    display: inline-block;
}

#navbar li:last-child {
    margin-left: auto;
}

#navbar-contact {
    background-color: #1D3557;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 15px;
}

#navbar-contact:hover {
    background-color: #F1FAEE;
    color: #1D3557;
    border: 2px solid #1D3557;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#navbar-logo {
    height: 2em;
    transition-duration: 400ms;
    border-radius: 999px;
    padding: 0.5em;
}

#navbar-logo:hover {
    background-color: #1D3557;
    transform: scale(1.1);
    rotate: 360deg;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    flex-direction: column;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 60%;
    margin-top: 2em;
}

.nav-button {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 15px;
}

.nav-button:hover {
    font-size: larger;
    color: #F1FAEE;
    background-color: #1D3557;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

em {
    color: #A8DADC;
    font-weight: bold;
}

#presentation {
    padding: 1em;
    background-color: #1D3557;
    color: #F1FAEE;
    border-radius: 15px;
}

#presentation:hover {
    background-color: #457B9D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#projects {
    background-color: #A8DADC;
    color: #1D3557;
    padding-bottom: 2em;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}

#projects h2 {
    flex-basis: 100%;
    text-align: center;
}

#projects-container {
    margin: 0 auto;
    width: 50%;
}

.masonry-item {
    margin-bottom: 10px;
}

.project {
    background-color: #F1FAEE;
    border-radius: 15px;
    border: 2px solid #457B9D;
    width: calc(50% - 10px);
    /* Ajuste pour un gutter de 10px */
    box-sizing: border-box;
}

.project-wide {
    width: 100%;
}

.project-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project * {
    margin: 0.5em;
}

.project:hover {
    background-color: #e1f0f2;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-title {
    margin: 0;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
}

.project-preview {
    margin: 0.5em auto auto auto;
    width: 90%;
    border: 2px solid #457B9D;
    border-radius: 5px;
}

#navbar-toggle {
    height: fit-content;
    width: 100%;
    justify-content: flex-end;
    padding: 0.25em 0 0.25em 0;
    height: 3rem;
    display: none;
}

#navbar-toggle * {
    margin: 0 1.2em 0 0;
    height: 100%;
    display: inline;
}

#home-portrait {
    border-radius: 9999px;
    height: 20rem;
    object-fit: cover;
    border: #1D3557 solid 4px;
}

#home-portrait:hover {
    transform: scale(0.95);
    border-color: #457B9D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.no-decoration {
    text-decoration: none;
}

#history {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #457B9D;
    color: #F1FAEE;
    width: 100%;
    padding-bottom: 2em;
}

.history-card {
    display: flex;
    background-color: #F1FAEE;
    padding: 0.5em;
    width: 80%;
    color: #1D3557;
    border-radius: 15px;
    border: 2px solid #1D3557;
    margin-top: 1.5em;
}

.history-card img {
    width: 6em;
    margin-right: 1em;
    border-radius: 5px
}

.history-card:hover {
    transform: scale(1.02);
    background-color: #e1f0f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contact {
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #457B9D;
    padding: 1em;
}

#socials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
}

.social-card {
    background-color: #F1FAEE;
    margin: 1em;
    padding: 1em;
    border-radius: 15px;
    border: 2px solid #1D3557;
}

.social-card:hover {
    transform: scale(1.05);
    background-color: #e1f0f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.social-card>img {
    max-width: 2.5em;
}

.flexbox {
    display: flex;
}

.hidden {
    display: none;
}

a {
    color: inherit;
}

.external-link {
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
}

.inline-icon {
    height: 1em;
    vertical-align: middle;
}

@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }

    #about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-card {
        margin-bottom: 1em;
        width: 90%;
    }

    .about-card ul {
        margin: 0 0.5em 0 0.8em;
        padding: 0;
    }

    #projects-container {
        width: 90%;
    }

    .social-card {
        padding: 0.4em;
        margin: 0.4em;
    }

    .project {
        width: 100%;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    #navbar * {
        margin-top: 1.5em;
    }

    #navbar li:last-child {
        margin-right: auto;
    }

    #navbar li {
        margin-left: 0;
        display: inline-block;
    }

    #home {
        align-self: center;
        width: 90%;
    }

    #navbar-toggle {
        display: flex;
    }

    .history-card {
        flex-direction: column;
    }
}