html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

    background-color: #fefefe;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas-wrapper {
    overflow-x: auto;
}

#game-canvas {
    border: 2px solid #aaa;
    background-color: #f0f0f0;
}

main {
    overflow-x: scroll;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    color: white;
    background-color: #457B9D;
    border-top: #1D3557 solid 3px;
    box-shadow: #1D3557 0px 2px 4px;
}

nav {
    height: 2em;
    background-color: #457B9D;
    border-bottom: #1D3557 solid 3px;
    box-shadow: #1D3557 0px 2px 4px;
}

#play-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3em;
    border: #aaa 1px solid;
}

#mobile-warning {
    background-color: orange;
    padding: 1em;
}

#rules {
    padding: 1em;
}

ul {
    margin: 0;
}

@media (min-width: 800px) {
    #mobile-warning {
        display: none;
    }

    main {
        overflow-x: hidden;
    }

    #canvas-wrapper {
        overflow-x: visible;
    }

    #rules {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
}